.FeedbackOptions {
  justify-content: center;
  align-items: center;
}
.Btn {
  border: none;
  transition: box-shadow 1s easy;
  border-radius: 3px;
  width: auto;
  padding: 10px 15px;
  cursor: pointer;
  text-transform: capitalize;
}
.Btn:not(:last-of-type) {
  margin-right: 25px;
}
.Btn:hover,
Btn:focus {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
